body {
    background-color: rgb(245, 238, 229);
    font-family: Tahoma, sans-serif;
    line-height: 1.6;
}

h1 {
    margin: 20px;
    text-align: center;
}

.pizza-image {
    width: 500px;
    display: block;
    float: right;
    margin: 40px;
    transform: translateX(-150px);
}

.subtitle {
    color: darkkhaki;
}

.section-title {
    color: rgb(228, 11, 22);
}

.section-subtitle {
    color: rgb(228, 11, 22);
    font-weight: bold;
}

.ingredients {
    list-style-type: disc;
    margin-left: 20px;
}

.bold-number {
    font-weight: bold;
}

.enjoy {
    color: darkkhaki;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

hr {
    border: none;
    border-top: 2px solid rgb(200, 200, 200);
    margin: 20px 0;
}